<html>
<title>Portal</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% from 'content/component/_menus.html' import navbar, page_navbar %}

<head>
    <title>Sample app</title>
</head>

<body>
    {{ navbar(portal_menu) }}
    {{ page_navbar(page_menu, roles) }}
    <h1>{{ title }}</h1>

</body>

</html>